# Configuración de Supabase
# Obtén estos valores desde tu dashboard de Supabase: https://supabase.com/dashboard
SUPABASE_URL=https://supabase.com/dashboard/project/bspnwhogpxjkxitrlnug
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzcG53aG9ncHhqa3hpdHJsbnVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MjU5NDgsImV4cCI6MjA3NjIwMTk0OH0.M3tnLYkVtGT_BaieiC1e2H6cFlq4yseWxzexSywMG8w


# Puerto del servidor (opcional)
PORT=4000
